
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/YANG-Blog.cshtml";
}
@using YANGBlog.Models
@model List<MessageBoard>
<div class="content whisper-content leacots-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <img class="banner-img" src="../res/img/liuyan.jpg">
                        <div class="form">
                            <form class="layui-form" action="/MessageBoard/AddMessageBoard" method="post">
                                <div class="layui-form-item layui-form-text">
                                    <input type="hidden" name="UserToId" id="UserToId" value="@Session["UserID"]"/>
                                    <div class="layui-input-block">
                                        <textarea name="MessageContent" id="MessageContent" placeholder="既然来了，就说几句" class="layui-textarea" style="max-width:none"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <input class="layui-btn definite" type="submit" value="留言">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="volume">
                        全部留言 <span>@Model.Count</span>
                    </div>
                    <div class="list-cont">
                        @foreach (var item in Model.OrderByDescending(p=>p.MessageTime))
                        {
                            <div class="cont">
                                <div class="img">
                                    <img src="../res/img/header.png" alt="">
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">@item.UserInfo.UserName</span><span class="data">@item.MessageTime</span></p>
                                    <p class="ct">@item.MessageContent</p>
                                    <p><a href="/MessageBoard/DeleteMessage?id=@item.MessageId" onclick="return confirm('你确定要删除吗？')">删除</a></p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<div id="demo" style="text-align: center;"></div>*@
    </div>
</div>


