
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/YANG-Blog.cshtml";
}
@using YANGBlog.Models;
<div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <div class="article-cont">
                            <div class="title">
                                <h3>@ViewBag.list.DynamicHead</h3>
                                <p class="cont-info"><span class="data">@ViewBag.list.Releasetime</span><span class="types">散文札记</span></p>
                            </div>
                            <img src="../res/img/wz_img1.jpg">
                            <p>@ViewBag.list.Content</p>
                        </div>
                        <div class="form">
                            <form class="layui-form" id="form-Comment">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea" style="max-width:none" id="textarea-comment"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <button class="layui-btn definite" id="submit">確定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="volume">
                        全部留言 <span>10</span>
                    </div>
                    <div class="list-cont">
                        @foreach (var item in ViewBag.Clist)
                        {
                            <div class="cont">
                                <div class="img">
                                    <img src="../res/img/header.png" alt="">
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">@item.UserInfo.UserName</span><span class="data">@item.CommentTime</span></p>
                                    <p class="ct">@item.CommentContent</p>
                                </div>
                                <div>
                                    <a>点赞</a>
                                    <a class="layui-upload-button" onclick="returnComm()">回复</a>
                                </div>
                            </div>
                        }
                    </div>
                    </div>
            </div>
        </div>
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>
@section scripts{
    <script>
        var userId = Session["UserID"];

        function returnComm() {
            layer.open({
                type: 2,
                title: "请输入回复内容",
                maxmin: false,
                resize: false,
                anim: 2,
                shadeClose: true,
                area: ['500px', '350px'],
                content:''
            });
        }
    </script>
    <script type="text/javascript">
        $("#form-Comment").bind("submit",function () {
            var userId = Session["UserID"];
            var CommentContent = $("#textarea-comment").val();
            $.ajax({
                type: "post",
                url: "/Dynamic/Comment",
                data: {
                    CommentContent:CommentContent,
                    UserId: userId,
                    DynamicId;@ViewBag.list.DynamicId
                },
                success: function () {
                    lert("评论成功")
                },
                error: function () {
                    alert("评论失败")
                }
            })

        })
    </script>
    }
