
@{
    ViewBag.Title = "Dynamic";
    Layout = "~/Views/Shared/YANG-Blog.cshtml";
}
@using YANGBlog.Models;
@model  List<Dynamic>

<div class="content whisper-content">
    <div class="cont">
        <div class="whisper-list">
            <div class="item-box">
                @foreach (var item in Model)
                {
                <div class="item">
                    <div class="whisper-title">
                        <i class="layui-icon layui-icon-date"></i><span class="hour">@item.Releasetime</span><span class="date">@item.Releasetime</span>
                    </div>
                    <p class="text-cont">
                        @item.Content
                    </p>
                    @*<div class="img-box">
                        <img src="../res/img/wy_img1.jpg">
                    </div>*@
                    <form class="layui-form layui-form-item" action="" lay-filter="form-switch-project">
                        <div class="op-list">
                            <p class="like"><i class="layui-icon layui-icon-praise"></i><span></span></p>
                            <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>@item.Comment.Count</span></p>
                            <p class="off" id="open"><i id="i-down" class="layui-icon layui-icon-down"></i></p>
                        </div>
                    </form>
                </div>
                <div class="review-version layui-hide" id="comment-div">
                    <div class="form">
                        <img src="../res/img/header2.png">
                        <form class="layui-form" action="">
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea name="desc" style="max-width:none" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="text-align: right;">
                                    <button class="layui-btn definite">確定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="list-cont">
                        @foreach (var item1 in item.Comment)
                        {
                            <div class="cont">
                                <div class="img">
                                    <img src="../res/img/header.png" alt="">
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">@item1.UserInfo.UserName</span><span class="data">@item1.CommentTime</span></p>
                                    <p class="ct">@item1.CommentContent</p>
                                    <a class="layui-upload-button">回复</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                }
            </div>
            <div id="demo" style="text-align: center;"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#open").click(function () {
            $("#comment-div").toggleClass("layui-hide");
            $("#i-down").toggleClass("layui-icon-down")
            $("#i-down").toggleClass("layui-icon-up")
        })
    </script>
}



