
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/YANG-Blog.cshtml";
}
@using YANGBlog.Models
@{ 
    UserInfo user = ViewBag.UserInfo;
}

<div class="about-content">
    <div class="w1000">
        <div class="item info">
            <div class="title">
                <h3>我的介绍</h3>
            </div>
            <div class="cont">
                <img src="../res/img/@user.HeadPortrait">
                <div class="per-info">
                    <p>
                        <span class="name">@user.UserName</span><br />
                        <span class="age"> @user.Age 岁</span><br />
                        <span class="birthday" id="birthday">@user.Birthday</span><br />
                        <span class="Career">@user.Occupation</span><br />
                    </p>
                </div>
            </div>
        </div>
        @*<div class="item tool">
            <div class="title">
                <h3>我的技能</h3>
            </div>
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
                        <div class="cont-box">
                            <img src="../res/img/gr_img2.jpg">
                            <p>80%</p>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
                        <div class="cont-box">
                            <img src="../res/img/gr_img3.jpg">
                            <p>80%</p>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
                        <div class="cont-box">
                            <img src="../res/img/gr_img4.jpg">
                            <p>80%</p>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
                        <div class="cont-box">
                            <img src="../res/img/gr_img5.jpg">
                            <p>80%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="item contact">
            <div class="title">
                <h3>联系方式</h3>
            </div>
            <div class="cont">
                <img src="../res/img/erweima.jpg">
                <div class="text">
                    <p class="WeChat">微信：<span>970764882</span></p>
                    <p class="qq">qq：<span>970764882</span></p>
                    <p class="iphone">电话：<span>@user.Phone</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

